.posts h2 {
  width: 100%;
  font-size: 4.5rem;
  font-weight: 450;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 5px 5px 4px #22223b;
  color: #f9f6f4;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-weight: lighter;
  margin: 20px;
}

.post {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  background-color: #F5ECEA;
  padding: 10px;
  border-radius: 30px;
  width: 30%;
  height: 250px;
  font-size: large;
  margin: 10px 5px;
  box-shadow: 5px 5px 4px #22223b;
}

.post-title {
  font-weight: bold;
  font-size: xx-large;
  margin: 0 10px 15px 10px;
}

.post-topic {
  margin: 0 10px 20px 10px;
  font-size: x-large;
  font-weight: 400;
}

.post-likes {
    font-weight: 600;
    font-size: larger;
}

.filter-bar {
  width: 100%;
  margin: 0 10px 10px 10px;
}

.post-search {
  font-family: "Quicksand", sans-serif;
  font-size: x-large;
  border-radius: 10px;
  padding: 6px;
  border: none;
  box-shadow: 5px 5px 4px #22223b;
  background-color: #F5ECEA;
  width: 25%;
  border: solid #9a8c98 3px;
  margin-left: 10px;
}

#topic-search {
  font-family: "Quicksand", sans-serif;
  font-size: x-large;
  padding: 5px;
  color: gray;
  border-radius: 10px;
  border: none;
  float: right;
  box-shadow: 5px 5px 4px #22223b;
  background-color: #F5ECEA;
  width: 25%;
  border: solid #9a8c98 3px;
  margin-right: 10px;
}

.post-title:hover {
  color: #9a8c98;
}

.post:hover {
  border: solid #9a8c98 3px;
}
